@import url(http://fonts.googleapis.com/css?family=Nobile:400italic,700italic);
@import url(http://fonts.googleapis.com/css?family=Dancing+Script);
* {
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
}

body {
  background: #E5E5E5;
  background-image: url("/gray-floral.png");
  padding: 50px;
}

#card-front {
  color: #FFDFDF;
}

.background{
    height: 100%;
    width: 100%;
    z-index: -1;
    opacity: 0;
    position: absolute;
    top: 0px;
    transform-origin: left;
-moz-transform-origin: left;
-webkit-transform-origin: left;
    transform: rotateZ(-180deg);
}

.background img{
    width: 100%;
}

#card, #card-front, #card-inside {
  height: 340px;
}

.wrap {
    padding: 1.5em 2.5em;
    height: 100%;
}
#card-front, #card-inside {
  width: 50%;
  position: absolute;
  left: 50%;
}


#card-inside .wrap {
    background: #FFEFEF;
}

#card {
    max-width: 960px;
    margin: 0 auto;
    transform-style: preserve-3d;
    -moz-transform-style: preserve-3d;
    -webkit-transform-style: preserve-3d;
    perspective: 5000px;
    -moz-perspective: 5000px;
    -webkit-perspective: 5000px;
    position: relative;
/*     transition:         transform 1s linear;
-moz-transition:    -moz-transform 1s linear;
-webkit-transition: -webkit-transform 1s linear; */
transform: rotate3d(-7, -6, -4, 60deg);
-moz-transform: rotate3d(-7, -6, -4, 60deg);
-webkit-transform: rotate3d(-7, -6, -4, 60deg);
}

#card h1 {
    text-align: center;
    font-family: 'Nobile', sans-serif;
    font-style: italic;
    font-size: 70px;
    color: #FFF;
}

#card-inside {
    font-size: 1.1em;
    line-height: 1.4;
    font-family: 'Nobile';
    color: #331717;
    font-style: italic;
}

p {
    margin-top: 1em;
}

p:first-child {
    margin-top: 0;
}

p.signed {
    margin-top: 1.5em;
    text-align: center;
    font-family: 'Dancing Script', sans-serif;
    font-size: 1.5em;
}

#card-front {
    background-color: #FF5555;
    background-image: linear-gradient(top, #FF5555 0%, #FF7777 100%);
    background-image: -moz-linear-gradient(top, #FF5555 0%, #FF7777 100%);
    background-image: -webkit-linear-gradient(top, #FF5555 0%, #FF7777 100%);
            transform-origin: left;
       -moz-transform-origin: left;
    -webkit-transform-origin: left;
            transition:         transform 0.2s linear;
       -moz-transition:    -moz-transform 0.2s linear;
    -webkit-transition: -webkit-transform 0.2s linear;
    position: relative;
}

#card-inside {
                transform-origin: left;
           -moz-transform-origin: left;
        -webkit-transform-origin: left;
            transition:         transform 0.2s linear;
       -moz-transition:    -moz-transform 0.2s linear;
    -webkit-transition: -webkit-transform 0.2s linear;
}

#card-front .wrap {
            transition: background 1s linear;
       -moz-transition: background 1s linear;
    -webkit-transition: background 1s linear;
}

#card-front button {
  position: absolute;
  bottom: 1em;
  right: -12px;
  background: #F44;
  color: #FFF;
  font-family: 'Nobile', sans-serif;
  font-style: italic;
  font-weight: bold;
  font-size: 1.5em;
  padding: .5em;
  border: none;
  cursor: pointer;
}

#card-front button:hover,
#card-front button:focus {
  background: #F22;
}

#next2 {
  display: none;
}

#card.open-fully #close,
#card-open-half #close {
  display: inline;
}

#card.open-fully #open {
  display: none;
}

#card.open-half #card-front .wrap {
    background-color: rgba(0, 0, 0, .5);
}

#card.open-half #card-inside,
#card.close-half #card-inside{
    transform: rotateY(0deg);
-moz-transform: rotateY(0deg);
-webkit-transform: rotateY(0deg);
}

#card.open-fully #card-front,
#card.close-half #card-front {
  background: #FFEFEF;
}


#card.open-fully #card-front {
    transform: rotateY(-110deg);
    -moz-transform: rotateY(-110deg);
    -webkit-transform: rotateY(-110deg);
}

#card.open-fully #card-inside{
    transform: rotateY(0deg);
    -moz-transform: rotateY(0deg);
    -webkit-transform: rotateY(0deg);
}

#card.open-fully #card-front .wrap {
    background-color: rgba(0, 0, 0, 0);
}

#card.open-fully #card-front .wrap *,
#card.close-half #card-front .wrap * {
   display: none;
}

footer {
  max-width: 500px;
  margin: 40px auto;
  font-family: 'Nobile', sans-serif;
  font-size: 14px;
  line-height: 1.6;
  color: #888;
  text-align: center;
}

.envelope{
    position: relative;
    width: 0px;
    height: 0px;
    border-style: solid;
    border-width: 150px 241px 0px;
    border-color: #73C3CC transparent transparent;
         transform-origin: top;
    -moz-transform-origin: top;
 -webkit-transform-origin: top;
 transition: transform 0.2s linear;
-moz-transition: transform 0.2s linear;
-webkit-transition: transform 0.2s linear;
}

.envelope-container{
    position: absolute;
    top: 55px;
    right: 353px;
    transform: rotate3d(-7, -6, -4, 60deg);
    -moz-transform: rotate3d(-7, -6, -4, 60deg);
    -webkit-transform: rotate3d(-7, -6, -4, 60deg);
    z-index: 4;
}

 #card-wrapper{
/*  transform: rotate3d(-7, -6, -4, 60deg);
-moz-transform: rotate3d(-7, -6, -4, 60deg);
-webkit-transform: rotate3d(-7, -6, -4, 60deg); */
z-index: 1;
}

.card-container{
    position: relative;
    transform-style: preserve-3d;
    -moz-transform-style: preserve-3d;
    -webkit-transform-style: preserve-3d;
    z-index: 3;
}

#card-wrapper:hover .envelope{
    animation: envelopeOpen 0.2s linear;
    animation-fill-mode: forwards;
}

#card-wrapper:hover .envelope-container{
    animation: envelopeContainerZindex 0.2s linear;
    animation-fill-mode: forwards;
}

#card-wrapper:hover #card{
animation: cardGrow 2s linear;
animation-fill-mode: forwards;

}

.square{
    height: 200px;
    width: 200px;
    background: #000;
}

#card-wrapper:hover .card-container{
    animation: cardMove 1.5s cubic-bezier(.17,.67,.83,.67);
    animation-fill-mode: forwards;
}

#card-wrapper:hover .background{
    animation: backgroundAnim 1.5s linear;
    animation-fill-mode: forwards;
}

@keyframes envelopeOpen {
     0%
        {
            transform: rotateX(0deg);
        }

     100%
         {
             transform: rotateX(180deg);
         }
}

@keyframes cardMove {
    0%
        {
            transform: translate3d(0px);
            -moz-transform: tanslate3d(0px);
            -webkit-transform: tanslate3d(0px);
        }

    10%
        {
            transform: translate3d(-0px,-0px,0px);
            -moz-transform: tanslate3d(-0px,-0px,0px);
            -webkit-transform: tanslate3d(-0px,-0px,0px);
        }

    25%
        {
            transform: translate3d(-190px,-250px,30px);
            -moz-transform: tanslate3d(-190px,-250px,30px);
            -webkit-transform: tanslate3d(-190px,-250px,30px);
        }

    100%
        {
            transform: translate3d(-50px,50px,0px);
            -moz-transform: tanslate3d(-50px,50px,0px);
            -webkit-transform: tanslate3d(-50px,50px,0px);
        }
}

@keyframes cardGrow {
    0%    {
            transform: rotate3d(-7, -6, -4, 60deg);
           -moz-transform: rotate3d(-7, -6, -4, 60deg);
           -webkit-transform: rotate3d(-7, -6, -4, 60deg);
          }

    30%   {
            transform: rotate3d(-7, -6, -4, 60deg);
           -moz-transform: rotate3d(-7, -6, -4, 60deg);
           -webkit-transform: rotate3d(-7, -6, -4, 60deg);
          }

    80%  {
            transform: rotate3d(0, 0, 0, 0deg);
            -moz-transform: rotate3d(0, 0, 0, 0deg);
            -webkit-transform: rotate3d(0, 0, 0, 0deg);
          }

    100%
        {
            transform: rotate3d(0, 0, 0, 0deg);
            -moz-transform: rotate3d(0, 0, 0, 0deg);
            -webkit-transform: rotate3d(0, 0, 0, 0deg);
        }
}

@keyframes envelopeContainerZindex {

    0%{
        z-index: 4;
    }

    50%{
        z-index: 4;
    }

    100%{
        z-index: 2;
    }

}

@keyframes backgroundAnim {
    0%{
        opacity: 0;
        transform: rotateZ(-180deg);
    }

    25%{
        opacity: 0.25;
        transform: rotateZ(-135deg);
    }

    75%{
        opacity: 0.75;
        transform: rotateZ(-45deg);
    }

    100%{
        opacity: 1;
        transform: rotateZ(0deg);
    }
}
